.mapes {
  display: flex;
  list-style-type: none;
  box-shadow: 1px 1px rgb(231, 230, 230);
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  border-radius: 2rem;
}

li {
  display: flex;
  background-color: #ffff;
  box-shadow: 1px 1px rgb(231, 230, 230);
  border: 1px solid rgb(199, 199, 199);
  height: 2.8rem;
  width: 80%;
  font-size: 1.2rem;
}

li:hover {
  background-color: var(--background);
  cursor: pointer;
}

.leftCorner {
  display: flex;
  background-color: var(--background);
  box-shadow: 1px 1px rgb(231, 230, 230);
  border-radius: 10px 0 0 10px;
  border: 1px solid rgb(199, 199, 199);
  height: 2.8rem;
  width: 80%;
  font-size: 1.2rem;
}

.rightCorner {
  display: flex;
  background-color: var(--background);
  box-shadow: 1px 1px rgb(231, 230, 230);
  border-radius: 0px 10px 10px 0px;
  border: 1px solid rgb(199, 199, 199);
  height: 2.8rem;
  width: 80%;
  font-size: 1.2rem;
}

.filtraIkona {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  margin-left: 5px;
}

.mapName {
  margin: auto;
  margin-left: 1rem;
}

.tabs {
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  background-color: var(--background);  
}


.tabs-tab{
  width: 20rem;
}

.ant-tab{
  background-color: red;
}


.tabpane{
  background-color: var(--backgroundTwo);
}

.hidebutton {
  display: none;
}

.buttonlocation {
  margin-top: 1rem;
  margin-left: 25%;
}

.button6 {
  align-items: center;
  background-color: var(--background);
  border: 1px solid var(--textcolor);
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-sizing: border-box;
  color: var(--textcolor);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button6:hover,
.button6:focus {
  border-color: var(--textcolor);
  box-shadow: var(--textcolor);
  color: var(--textcolor);
}

.button6:hover {
  transform: translateY(-1px);
}

.button6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: var(--textcolor);
  transform: translateY(0);
}
