.kastewrap{
    text-align: center;
    margin-top: -1.7rem;
    background-color: var(--background);
}

.texts{
    color: var(--textcolor);
    padding-left: 1.7rem;
}

.texts:hover{
    cursor: pointer;
}

.checkboxs{
    background-color: var(--backgroundTwo);
    cursor: pointer;
}

.typelogo{
    height: 38px;
    width: 38px;
}

.labelName{
    padding-right: 1rem;
    color: var(--textcolor);
}
