
* {
  box-sizing: border-box;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

:root {
  --background: #f8f8f8;
  --backgroundTwo:#f3f3f3;
  --text-primary: black;
  --text-secondary: royalblue;
  --accent: purple;
  --textcolor: black;
  --backgroundThree: #f3f3f3;
  --textcolorTwo: #141414;
  --borderBlackToWhite: #141414;
  --nadeInfoBackground: linear-gradient( 252.84deg, #ededed 40%, #f5f5f5 70% );
}

[data-theme='dark'] {
  --background: #2c2c2c;
  --backgroundTwo: #454545;
  --text-primary: white;
  --text-secondary: grey;
  --accent: darkred;
  --textcolor: white;
  --backgroundThree: #2c2c2c;
  --textcolorTwo: #ededed;
  --borderBlackToWhite: #ededed;
  --nadeInfoBackground: linear-gradient( 252.84deg, #141414 40%, #1f1f1f 70% );
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: var(--backgroundTwo);
}

